<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Heat pump & low loss header calculator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="ecodan.js"></script>
</head>
<body>

<div class="container" style="max-width:800px" id="app">
  <div class="row">
    <div class="col">
      <br>
      <h3>Heat pump & low loss header calculator</h3>
      <p>Calculate heat output and COP for a system with a low loss header between the heat pump and the radiator system.</p>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col">   
      <label class="form-label">Room temperature</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" v-model.number="room" @change="update"> 
        <span class="input-group-text">°C</span>
      </div>
    </div>
    <div class="col"> 
      <label class="form-label">Outside temperature</label>     
      <div class="input-group mb-3">
        <input type="text" class="form-control" v-model.number="outside" @change="update">
        <span class="input-group-text">°C</span>
      </div>
    </div>
    <div class="col"> 
      <label class="form-label">Heat output</label>     
      <div class="input-group mb-3">
        <input type="text" class="form-control" v-model.number="heatpump_output" @change="update" style="background-color:#fed">
        <span class="input-group-text">W</span>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col">
      <table class="table">
        <tr>
          <th></th>
          <th max-width="250px">Heat pump side (Primary)</th>
          <th max-width="250px">Radiator side (Secondary)</th>
        </tr>
        <tr>
          <td>Flow rate</td>
          <td>
            <div class="input-group mb-3">
              <input type="text" class="form-control" v-model.number="HP_flowrate_lmin" @change="update">
              <span class="input-group-text">L/min</span>
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <input type="text" class="form-control" v-model.number="HE_flowrate_lmin" @change="update">
              <span class="input-group-text">L/min</span>
            </div>
          </td>          
        </tr>
        <tr>
          <td>Heat capacity</td>
          <td>
            <div class="input-group mb-3">
              <input type="text" class="form-control" v-model.number="heat_capacity" @change="update">
              <span class="input-group-text">J/kg.K</span>
            </div>
          </td>
          <td>
          </td>           
        </tr>
        <tr>
          <td>Flow temperature</td>
          <td>
            <div class="input-group mb-3">
              <input type="text" class="form-control" :value="HP_flowT | toFixed(1)" disabled>
              <span class="input-group-text">°C</span>
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <input type="text" class="form-control" :value="HE_flowT | toFixed(1)" disabled>
              <span class="input-group-text">°C</span>
            </div>
          </td>            
        </tr>        
        <tr>
          <td>Return temperature</td>
          <td>
            <div class="input-group mb-3">
              <input type="text" class="form-control" :value="HP_returnT | toFixed(1)" disabled>
              <span class="input-group-text">°C</span>
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <input type="text" class="form-control" :value="HE_returnT | toFixed(1)" disabled>
              <span class="input-group-text">°C</span>
            </div>
          </td>         
        </tr> 
        <tr>
          <td>Mean water temperature</td>
          <td>
            <div class="input-group mb-3">
              <input type="text" class="form-control" :value="(HP_flowT+HP_returnT)*0.5 | toFixed(1)" disabled>
              <span class="input-group-text">°C</span>
            </div>
          </td>
          <td>
            <div class="input-group mb-3">
              <input type="text" class="form-control" :value="(HE_returnT+HE_flowT)*0.5 | toFixed(1)" disabled>
              <span class="input-group-text">°C</span>
            </div>
          </td>            
        </tr> 
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">   
      <label class="form-label">Rated radiator output [1]</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" v-model.number="rated_output" @change="update">
        <span class="input-group-text">W</span>
      </div>
    </div>
    <div class="col"> 
      <label class="form-label">@ Rated deltaT (MWT - Room)</label>     
      <div class="input-group mb-3">
        <input type="text" class="form-control" v-model="rated_dT" disabled>
        <span class="input-group-text">°K</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">   
      <label class="form-label">COP method</label>
      <div class="input-group mb-3">
        <select class="form-control" v-model="cop_method" @change="update">
          <option value="ecodan">5kW EcoDan Datasheet</option>
          <option value="carnot">Carnot equation [2]</option>
        </select>
      </div>
    </div>
    <div class="col"> 
      <label class="form-label">Heat pump COP</label>     
      <div class="input-group mb-3">
        <input type="text" class="form-control" :value="heatpump_COP | toFixed(2)" disabled>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col"> 
    <p><b>Comparison with open-circuit system without a low loss header:</b></p>
    </div>
  </div>
  <div class="row">
    <div class="col"> 
      <label class="form-label">Heat pump COP if driving radiators directly without the low loss header (Flow: {{ app.HE_flowT | toFixed(1) }}°C, Return: {{ app.HE_returnT | toFixed(1) }}°C):</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" :value="heatpump_COP_compare | toFixed(2)" disabled>
      </div>
    </div>
    <div class="col">   
      <label class="form-label"><b>or</b> direct radiator output at the primary flow temperature: {{ app.HP_flowT | toFixed(1) }}°C, return: {{ app.HP_returnT_direct | toFixed(1) }}°C and COP: {{heatpump_COP | toFixed(2)}}</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" :value="radiator_output_compare | toFixed(0)" disabled>
        <span class="input-group-text">W</span>
      </div>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col">      
      
      <p>[1] 15000 W @ 50K = 7x 1200x600mm K2 double panel radiators, each with an output of 2145W @ 50K.</p>
      
      <p>[2] Carnot COP equation based on +4K offset on flow temperature, -6K offset on outside temperature and a practical efficiency factor of 50%.</p>
    </div>
  </div>
</div>

</body>
</html>

<script>
var app = new Vue({
  el: '#app',
  data: {
    HP_flowrate_lmin: 12,
    HE_flowrate_lmin: 12,
    HP_flowrate: 0.2,
    HE_flowrate: 0.2,
    heat_capacity: 4187,
    HP_flowT: 20,
    HP_returnT: 20,
    HE_returnT: 20,
    HE_flowT: 20,
    room: 20,
    outside: -3,
    heatpump_output: 4000,
    rated_output: 15000,
    rated_dT: 50,
    radiator_output: 0,
    heatpump_COP: 0,
    radiator_output_compare: 0,
    heatpump_COP_compare: 0,
    HP_returnT_direct: 20,
    cop_method: "carnot"
  },
  methods: {
    update: function () {
      app.HP_flowrate = app.HP_flowrate_lmin / 60;
      app.HE_flowrate = app.HE_flowrate_lmin / 60;
      
      app.radiator_output = app.heatpump_output;
      
      let MWT_minus_room = Math.pow(app.radiator_output / app.rated_output,1/1.3)*app.rated_dT;
      let MWT = MWT_minus_room + app.room
      
      let radiator_dT = app.radiator_output / (app.heat_capacity*app.HE_flowrate)
      
      app.HE_flowT = MWT + (radiator_dT*0.5)
      app.HE_returnT = MWT - (radiator_dT*0.5)
      
      let heatpump_dT = (app.HE_flowrate*radiator_dT) / app.HP_flowrate
      
      if (app.HE_flowrate>app.HP_flowrate) {
          app.HP_returnT = app.HE_returnT
          app.HP_flowT = app.HP_returnT + heatpump_dT
      } else {
          app.HP_flowT = app.HE_flowT
          app.HP_returnT = app.HP_flowT - heatpump_dT
      }
      
      if (app.cop_method=="ecodan") {
          app.heatpump_COP = get_ecodan_cop(app.HP_flowT,app.outside,app.radiator_output/5000)
          app.heatpump_COP_compare = get_ecodan_cop(app.HE_flowT,app.outside,app.radiator_output/5000)
      } else {
          app.heatpump_COP = heatpump_COP(app.HP_flowT,app.outside)
          app.heatpump_COP_compare = heatpump_COP(app.HE_flowT,app.outside)
      }
      
      // Search for heat output from radiators at given flow temperature and flow rate
      app.HP_returnT_direct = app.HP_flowT
      MWT = app.HP_flowT
      app.radiator_output_compare = 0
      for (var i=0; i<100; i++) {
        MWT = (app.HP_flowT + app.HP_returnT_direct)*0.5
        let last_heat_output = app.radiator_output_compare
        app.radiator_output_compare = app.rated_output * Math.pow(((MWT - app.room) / app.rated_dT),1.3)
        dT = app.radiator_output_compare / (app.heat_capacity*app.HP_flowrate)
        app.HP_returnT_direct = app.HP_flowT - dT
        if (Math.round(app.radiator_output_compare*100)==Math.round(last_heat_output*100)) {
          break;
        }
      }
    }
  },
  filters: {
    toFixed: function(val,dp) {
      if (isNaN(val)) {
          return val;
      } else {
          return val.toFixed(dp)
      }
    }
  }
});

app.update();

function heatpump_COP(flowT,outsideT) {
    T_condensing = flowT + 4
    T_refrigerant = outsideT - 6
    Carnot_COP = (T_condensing + 273) / ((T_condensing+273) - (T_refrigerant + 273))
    Practical_COP = 0.5 * Carnot_COP
    return Practical_COP
}
</script>
